<div>
<% @works.keys.each do |category|%>
  <h2><%="#{category.capitalize}s"%></h2>
  <table>
    <tr class="table-headers">
      <th>Title</th>
      <th>Creator</th> 
      <th>Published</th>
      <th><%#votes%></th>
    </tr>
    <% @works[category].each do |work|%>
      <tr>
        <td><%=link_to work.title, work_path(work), class: "link"%></td>
        <td><%=work.creator%></td>
        <td><%=work.published%></td>
        <td> </td>
      </tr>
    <%end%>
  </table>
  <br>
<%end%>
<div>
