<div class="spotlight">
  <%#= render partial: "single_work", locals: {@work: }%>
</div>
<div class="top-works">
  <%= render partial: "works-list", 
  locals: {table_name: "Top", headers: false, 
  works_class: "top", creator_class: "top-creator", all_info: false} %>
<div>