// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// index + top
.top-works {
  display: flex;
}

table {
  width: 100%;
  padding: 2px;
  border-top: 1px solid grey;
}

tr.all {
  border-bottom: 1px solid grey;
}

tr.top {
  font-size: 120%;
}

.table-headers {
  border-bottom: 2px solid grey;
}

div.all {
  text-align: left;
}

div.top {
  margin: 5px;
}
